html,*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    font-family: 'Fredoka', sans-serif;
    --darkGrey: rgb(56, 56, 56);
    --orange: rgb(254, 88, 5);
    --readColor: rgb(168, 255, 168);
    --notReadColor: rgb(255, 168, 168);
}

body{
    height: 100vh;
}

header{
    width: 100%;
    background-color: rgb(217, 217, 217);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
}

.title-logo{
    color: var(--darkGrey);
    padding: 30px;
}
.btn-container{ 
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}
.add-book{
    min-width: 200px;
    background-color: transparent;
    border: 2px solid var(--darkGrey);
    border-radius: 10px;
    padding: 10px;
}

.add-book:hover{
    border-color: var(--orange);
    background-color: var(--orange);
    transition: all 500ms ease-out;
}

.add-book:active{
    background-color: rgb(222, 74, 0);
    transition: background-color 200ms ease-out;
}
.alert{
    margin-top: 20px;
    font-weight: bold;
}

.main{
    margin-top: 20px;
    border: 2px solid var(--darkGrey);
    border-radius: 10px;
    min-height: 300px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.book-con{
    height: 270px;
    width: 270px;
    margin: 20px;
    background-color: rgb(227, 227, 227);
    border-radius: 10px 20px 30px 40px/30px; 
}
.book-con > ul{
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 20px;
}

.book-con > ul > li > button{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
}


.add-book-form{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}

.add-book-form > input{
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--darkGrey);
}

.modal-title{
    width: 100%;
    color: var(--darkGrey);
    text-align: center !important;
}

.isReadCon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.add-book-form > button{
    width: 100px;
    color: var(--orange);
    border: 2px solid var(--orange);
}

